body{
 margin: 0px;
 font-size: 18px;
 justify-content: center;
/* background-color: black; */
}

.bodycenter{
  border: 5px solid green;
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*header CSS should be independent of the rest*/
.headercontain{
  width: 100%;
  background-color: black;
  justify-content: center;
/*  position: fixed; */
}

.header{
  font-family: Helvetica;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: .66rem;
  color: white;
  max-width: 960px;
  border: 10px dashed blue;
  margin: auto;
}
.header img{
  height: 1.5rem;
  padding-right: .5rem;
  padding left: .5rem;
/*  border: 10px solid green;*/
}

.mainlogo{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  background-size: cover;
  border: 10px solid purple;
  /*  margin-top: 2.32rem; */
  font-family: helvetica;
  font-weight: bold;
  color:white;
  align-items: center;
  width: 100%;
}

.maintextontain{
  max-width: 960px;

}

.maintext{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 20rem;
  border: 10px dashed white;
  padding-left: 3rem;
  padding-top: 2rem;
}
.maintext h2{
  border: 5px dashed red;
  font-size: 1rem;
}
.maintext h1{
  border: 5px dashed red;
  font-size: 2rem;
}


#logo{
  height: 1.5rem;
  width: auto;
}

.stripewidth{
  width: auto;
  height: 5rem;
  background-color: firebrick;
}

.stripe{

  color: white;
/*--  border: 10px solid blue; --*/
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-top:.75rem;
  padding-bottom: .75rem;
  max-width: 960px;

}
.stripe a{
  color: white;
/*--  border: 5px solid black; --*/
  text-decoration: none;
  font-weight: bold;

}

.productgrid{
  display: flex;
  border: 10px dashed blue;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
.prodcontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  color: white;
  width: 30%;
  padding-top: 2rem;

}
.prodcontain h5{
  background-color: black;
  width: 100%;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  border: 5px solid red;
}
.prodcontain img{
  height: 9rem;
  border: 5px dashed purple
}

.locatehours{
  display: flex;
  border: 10px solid red;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}
.info{
  display: flex;
  flex-direction: column;
  border: 10px solid green;
  width: 35%;

}
.info h5{
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.info h4{
  text-align: left;
  border: 5px solid purple;
}

.footcontain{
  max-width: auto;
  background-color: black;
  justify-content: center;
}
.foot{
  display:flex;
  text-align: left;
/*  background-color: black; */
  color:white;
  height: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 960px;

  border: 10px dashed white;
  margin: auto;
}
